# Auto detect text files and perform LF normalization
* text=auto
/GodotProject/Level.tscn filter=lfs diff=lfs merge=lfs -text
/GodotProject/Room_01.lmbake filter=lfs diff=lfs merge=lfs -text
/GodotProject/Room_01.tscn filter=lfs diff=lfs merge=lfs -text
/GodotProject/assets/maujoe.basic_water_material/textures/cloud_layers_1k.hdr filter=lfs diff=lfs merge=lfs -text
/GodotProject/entities/Basketball/ball/Ball.obj filter=lfs diff=lfs merge=lfs -text
/GodotProject/entities/Basketball/basketbal_ropes.png filter=lfs diff=lfs merge=lfs -text
/GodotProject/models/booth.blend filter=lfs diff=lfs merge=lfs -text
/GodotProject/models/booth.blend1 filter=lfs diff=lfs merge=lfs -text
/GodotProject/models/worldmapblended.blend filter=lfs diff=lfs merge=lfs -text
/GodotProject/models/worldmapblended.blend1 filter=lfs diff=lfs merge=lfs -text
/GodotProject/screenshot.PNG filter=lfs diff=lfs merge=lfs -text
/GodotProject/worldmap.exr filter=lfs diff=lfs merge=lfs -text
/audio/elevator_data/e08/d08/e080855d.au filter=lfs diff=lfs merge=lfs -text
/audio/elevator_data/e08/d08/e0808d01.au filter=lfs diff=lfs merge=lfs -text
/models/islandrender.png filter=lfs diff=lfs merge=lfs -text
/models/islandrender2.png filter=lfs diff=lfs merge=lfs -text
/models/islandrender3.png filter=lfs diff=lfs merge=lfs -text
/models/untitled.blend filter=lfs diff=lfs merge=lfs -text
/audio/jingles/all.wav filter=lfs diff=lfs merge=lfs -text
/audio/jingles/all2.wav filter=lfs diff=lfs merge=lfs -text
/GodotProject/audio/groups.zip filter=lfs diff=lfs merge=lfs -text
/GodotProject/models/splits.blend filter=lfs diff=lfs merge=lfs -text
/GodotProject/models/splits.blend1 filter=lfs diff=lfs merge=lfs -text
/GodotProject/models/splits_ladder.blend filter=lfs diff=lfs merge=lfs -text
/GodotProject/models/splits_ladder.blend1 filter=lfs diff=lfs merge=lfs -text
/GodotProject/models/splits_tongue.blend filter=lfs diff=lfs merge=lfs -text
/GodotProject/models/splits_tongue.blend1 filter=lfs diff=lfs merge=lfs -text
/GodotProject/models/worldmaphead.blend filter=lfs diff=lfs merge=lfs -text
/GodotProject/models/worldmaphead.blend1 filter=lfs diff=lfs merge=lfs -text
/audio/endmusic.wav filter=lfs diff=lfs merge=lfs -text
/audio/portal.wav filter=lfs diff=lfs merge=lfs -text
/audio/scarytrack.wav filter=lfs diff=lfs merge=lfs -text
/audio/jingles/title.wav filter=lfs diff=lfs merge=lfs -text
/audio/titlemusic.wav filter=lfs diff=lfs merge=lfs -text
/GodotProject2/assets/maujoe.basic_water_material/textures/cloud_layers_1k.hdr filter=lfs diff=lfs merge=lfs -text
/GodotProject2/entities/Basketball/ball/Ball.obj filter=lfs diff=lfs merge=lfs -text
/GodotProject2/entities/Basketball/basketbal_ropes.png filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/booth.blend filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/booth.blend1 filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/splits.blend filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/splits.blend1 filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/splits_ladder.blend filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/splits_ladder.blend1 filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/splits_tongue.blend filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/splits_tongue.blend1 filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/worldmapblended.blend filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/worldmapblended.blend1 filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/worldmaphead.blend filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/worldmaphead.blend1 filter=lfs diff=lfs merge=lfs -text
/GodotProject2/screenshot.PNG filter=lfs diff=lfs merge=lfs -text
/new/wav_files/cor_affr.wav filter=lfs diff=lfs merge=lfs -text
/new/wav_files/cor_fric.wav filter=lfs diff=lfs merge=lfs -text
/new/wav_files/dors_glot_fric.wav filter=lfs diff=lfs merge=lfs -text
/new/wav_files/nasals.wav filter=lfs diff=lfs merge=lfs -text
/new/wav_files/taps_trills.wav filter=lfs diff=lfs merge=lfs -text
/new/wav_files/vowels.wav filter=lfs diff=lfs merge=lfs -text
/GodotProject2/booth.tscn filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/booth_v2.blend filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/booth_v2.blend1 filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]LASA[[:space:]]VENATO[[:space:]]GOLD[[:space:]]ZEROCARE[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE.png filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]LASA[[:space:]]VENATO[[:space:]]GOLD[[:space:]]ZEROCARE[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BIANCO[[:space:]]LASA[[:space:]]VENATO[[:space:]]GOLD[[:space:]]ZEROCARE[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-ao.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]LASA[[:space:]]VENATO[[:space:]]GOLD[[:space:]]ZEROCARE[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BIANCO[[:space:]]LASA[[:space:]]VENATO[[:space:]]GOLD[[:space:]]ZEROCARE[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-diffuse.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]LASA[[:space:]]VENATO[[:space:]]GOLD[[:space:]]ZEROCARE[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BIANCO[[:space:]]LASA[[:space:]]VENATO[[:space:]]GOLD[[:space:]]ZEROCARE[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-displacement.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]LASA[[:space:]]VENATO[[:space:]]GOLD[[:space:]]ZEROCARE[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BIANCO[[:space:]]LASA[[:space:]]VENATO[[:space:]]GOLD[[:space:]]ZEROCARE[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-normal.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]LASA[[:space:]]VENATO[[:space:]]GOLD[[:space:]]ZEROCARE[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BIANCO[[:space:]]LASA[[:space:]]VENATO[[:space:]]GOLD[[:space:]]ZEROCARE[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-specular.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]LASA_POLISHED_MARBLE/BIANCO[[:space:]]LASA_POLISHED_MARBLE-ao.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]LASA_POLISHED_MARBLE/BIANCO[[:space:]]LASA_POLISHED_MARBLE-diffuse.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]LASA_POLISHED_MARBLE/BIANCO[[:space:]]LASA_POLISHED_MARBLE-displacement.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]LASA_POLISHED_MARBLE/BIANCO[[:space:]]LASA_POLISHED_MARBLE-normal.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]LASA_POLISHED_MARBLE/BIANCO[[:space:]]LASA_POLISHED_MARBLE-specular.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]RAFAELLO[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE.png filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]RAFAELLO[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BIANCO[[:space:]]RAFAELLO[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE.jpg-ao.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]RAFAELLO[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BIANCO[[:space:]]RAFAELLO[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE.jpg-diffuse.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]RAFAELLO[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BIANCO[[:space:]]RAFAELLO[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE.jpg-displacement.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]RAFAELLO[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BIANCO[[:space:]]RAFAELLO[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE.jpg-normal.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]RAFAELLO[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BIANCO[[:space:]]RAFAELLO[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE.jpg-specular.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]STATUARIO[[:space:]]GDA[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE.png filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]STATUARIO[[:space:]]GDA[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BIANCO[[:space:]]STATUARIO[[:space:]]GDA[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-diffuse.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]STATUARIO[[:space:]]GDA[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BIANCO[[:space:]]STATUARIO[[:space:]]GDA[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-displacement.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]STATUARIO[[:space:]]GDA[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BIANCO[[:space:]]STATUARIO[[:space:]]GDA[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-normal.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BIANCO[[:space:]]STATUARIO[[:space:]]GDA[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BIANCO[[:space:]]STATUARIO[[:space:]]GDA[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-specular.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]AND[[:space:]]GOLD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE.png filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]AND[[:space:]]GOLD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BLACK[[:space:]]AND[[:space:]]GOLD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-diffuse.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]AND[[:space:]]GOLD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BLACK[[:space:]]AND[[:space:]]GOLD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-displacement.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]AND[[:space:]]GOLD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BLACK[[:space:]]AND[[:space:]]GOLD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-normal.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]AND[[:space:]]GOLD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BLACK[[:space:]]AND[[:space:]]GOLD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-specular.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]BAHIA[[:space:]]-[[:space:]]SLATE[[:space:]]-[[:space:]]SLATE.png filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]BAHIA[[:space:]]-[[:space:]]SLATE[[:space:]]-[[:space:]]SLATE/BLACK[[:space:]]BAHIA[[:space:]]-[[:space:]]SLATE[[:space:]]-[[:space:]]SLATE-ao.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]BAHIA[[:space:]]-[[:space:]]SLATE[[:space:]]-[[:space:]]SLATE/BLACK[[:space:]]BAHIA[[:space:]]-[[:space:]]SLATE[[:space:]]-[[:space:]]SLATE-diffuse.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]BAHIA[[:space:]]-[[:space:]]SLATE[[:space:]]-[[:space:]]SLATE/BLACK[[:space:]]BAHIA[[:space:]]-[[:space:]]SLATE[[:space:]]-[[:space:]]SLATE-displacement.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]BAHIA[[:space:]]-[[:space:]]SLATE[[:space:]]-[[:space:]]SLATE/BLACK[[:space:]]BAHIA[[:space:]]-[[:space:]]SLATE[[:space:]]-[[:space:]]SLATE-normal.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]BAHIA[[:space:]]-[[:space:]]SLATE[[:space:]]-[[:space:]]SLATE/BLACK[[:space:]]BAHIA[[:space:]]-[[:space:]]SLATE[[:space:]]-[[:space:]]SLATE-specular.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]BEAUTY[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]GRANITE.png filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]BEAUTY[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]GRANITE/BLACK[[:space:]]BEAUTY[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]GRANITE-ao.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]BEAUTY[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]GRANITE/BLACK[[:space:]]BEAUTY[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]GRANITE-diffuse.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]BEAUTY[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]GRANITE/BLACK[[:space:]]BEAUTY[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]GRANITE-displacement.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]BEAUTY[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]GRANITE/BLACK[[:space:]]BEAUTY[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]GRANITE-normal.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]BEAUTY[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]GRANITE/BLACK[[:space:]]BEAUTY[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]GRANITE-specular.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]HORSE[[:space:]]P1000[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE.png filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]HORSE[[:space:]]P1000[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BLACK[[:space:]]HORSE[[:space:]]P1000[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-diffuse.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]HORSE[[:space:]]P1000[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BLACK[[:space:]]HORSE[[:space:]]P1000[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-displacement.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]HORSE[[:space:]]P1000[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BLACK[[:space:]]HORSE[[:space:]]P1000[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-normal.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]HORSE[[:space:]]P1000[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE/BLACK[[:space:]]HORSE[[:space:]]P1000[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]MARBLE-specular.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]PLUS[[:space:]]PETRIFIEDWOOD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]SEMI[[:space:]]PRECIOUS.png filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]PLUS[[:space:]]PETRIFIEDWOOD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]SEMI[[:space:]]PRECIOUS/BLACK[[:space:]]PLUS[[:space:]]PETRIFIEDWOOD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]SEMI[[:space:]]PRECIOUS-diffuse.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]PLUS[[:space:]]PETRIFIEDWOOD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]SEMI[[:space:]]PRECIOUS/BLACK[[:space:]]PLUS[[:space:]]PETRIFIEDWOOD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]SEMI[[:space:]]PRECIOUS-displacement.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]PLUS[[:space:]]PETRIFIEDWOOD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]SEMI[[:space:]]PRECIOUS/BLACK[[:space:]]PLUS[[:space:]]PETRIFIEDWOOD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]SEMI[[:space:]]PRECIOUS-normal.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]PLUS[[:space:]]PETRIFIEDWOOD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]SEMI[[:space:]]PRECIOUS/BLACK[[:space:]]PLUS[[:space:]]PETRIFIEDWOOD[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]SEMI[[:space:]]PRECIOUS-specular.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]SILK[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]QUARTZITE.png filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]SILK[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]QUARTZITE/BLACK[[:space:]]SILK[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]QUARTZITE-ao.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]SILK[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]QUARTZITE/BLACK[[:space:]]SILK[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]QUARTZITE-diffuse.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]SILK[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]QUARTZITE/BLACK[[:space:]]SILK[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]QUARTZITE-displacement.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]SILK[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]QUARTZITE/BLACK[[:space:]]SILK[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]QUARTZITE-normal.jpg filter=lfs diff=lfs merge=lfs -text
/GodotProject2/textures/MARBLE[[:space:]]SET-3-FREE-2/BLACK[[:space:]]SILK[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]QUARTZITE/BLACK[[:space:]]SILK[[:space:]]-[[:space:]]POLISHED[[:space:]]-[[:space:]]QUARTZITE-specular.jpg filter=lfs diff=lfs merge=lfs -text
/new/wav_files/batch2/ant_lab_vel.wav filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/theater.blend filter=lfs diff=lfs merge=lfs -text
/GodotProject2/models/theater.blend1 filter=lfs diff=lfs merge=lfs -text
